<div class="container">
  <h3>Gear List</h3>
  <form #form="ngForm" novalidate>
    <div class="form-group" [class.has-error]="bicycle.invalid && bicycle.touched">
      <label class="control-label">Bicycle</label>
      <input #bicycle="ngModel" class="form-control" type="text" required placeholder="Bicycle" name="bicycle"
             [(ngModel)]="model.bicycle" />
      <div class="alert alert-danger" *ngIf="bicycle.invalid && bicycle.touched">Bicycle is required</div>
    </div>

    <div class="form-group">
      <label>Model</label>
      <input class="form-control" type="text" required placeholder="Model" name="bikeModel" [(ngModel)]="model.bikeModel" />
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="active" [(ngModel)]="model.isActive" /> Active
      </label>
    </div>

    <label>Bicycle Type</label>
    <div class="radio">
      <label>
        <input type="radio" name="bicycleType" value="Road" [(ngModel)]="model.bicycleType" />
        Road
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="bicycleType" value="Mountain" [(ngModel)]="model.bicycleType" />
        Mountain
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="bicycleType" value="Gravel" [(ngModel)]="model.bicycleType" />
        Gravel
      </label>
    </div>

    <div class="form-group" [class.has-error]="hasActivityLevelError">
      <label class="control-label">Activity Level</label>
      <select class="form-control" #actLevel name="activityLevel"
              (blur)="validateActivityLevel(actLevel.value)"
              (change)="validateActivityLevel(actLevel.value)"
              [(ngModel)]="model.activityLevel">
        <option value="default">Select an Activity Level</option>
        <option *ngFor="let activityLevel of activityLevels">
          {{ activityLevel }}
        </option>
      </select>
    </div>
    <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Ok</button>
  </form>
</div>
