<h1>Welcome to BikePack Journal</h1>

<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <div class="card shadow">
        <div class="card-header">
          <h3>David's bike packing Gear</h3>
        </div>
        <div class="card-body">
          <img class="card-img-top" src="../../assets/P1000163.JPG" />
          <div class="row align-items-center">
            <div class="col-6">
              <h4 class="card-title">Bike Packing Gear</h4>
              <h6 class="card-subtitle">Mountain Bike</h6>
            </div>
            <div class="col-6">
              <button class="btn btn-info float-right">Details</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-header">
          <h3>David's bike packing Gear</h3>
        </div>
        <div class="card-body">
          <img class="card-img-top" src="../../assets/P1000163.JPG" />
          <div class="row align-items-center">
            <div class="col-6">
              <h4 class="card-title">Bike Packing Gear</h4>
              <h6 class="card-subtitle">Mountain Bike</h6>
            </div>
            <div class="col-6">
              <button class="btn btn-info float-right">Details</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-header">
          <h3>David's bike packing Gear</h3>
        </div>
        <div class="card-body">
          <img class="card-img-top" src="../../assets/P1000163.JPG" />
          <div class="row align-items-center">
            <div class="col-6">
              <h4 class="card-title">Bike Packing Gear</h4>
              <h6 class="card-subtitle">Mountain Bike</h6>
            </div>
            <div class="col-6">
              <button class="btn btn-info float-right">Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
